@charset 'utf-8';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*top banner*/
#top_banner {
    width: 100%;
    height: 70px;
    margin: 0 auto;
    background-color: pink;
    display: flex;
}

.top_banner_left_wrap {
    width: 100%;
    height: 100%;
    background-color: rgb(251, 216, 212);
}

.top_banner_left {
    width: 510px;
    height: 100%;
    float: right;
    cursor: pointer;
}

.top_banner_right_wrap {
    width: 100%;
    height: 100%;
    background-color: #c2a69d;
}

.top_banner_right {
    width: 550px;
    height: 100%;
    float: left;
    position: relative;
    cursor: pointer;
}

.top_banner_right>span {
    position: absolute;
    top: 0;
    right: 60px;
    cursor: pointer;
}

/*header*/
header {
    width: 100%;
    height: 178px;
    margin: 0;
    padding: 0;
}

/*header_top*/
#header_top {
    width: 100%;
    height: 33px;
    border: 1px solid #ccc;
    border-top: none;
    border-left: none;
    border-right: none;
}

.header_top_nav {
    width: 980px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 100%;
}

.header_top_left {
    width: 490px;
    display: flex;
}

.header_top_left>li {
    padding: 8px 13px;
    border: 1px solid #ccc;
    border-top: none;
    border-left: none;
    border-bottom: none;
}

.header_top_left>li:first-child {
    border: 1px solid #ccc;
    border-bottom: none;
    border-top: none;
}

.header_top_left>li a {
    color: #333;
    text-decoration: none;
    font-size: 13px;
}

.header_top_left>li a .main_color {
    color: #ef544d;
}

.header_top_right {
    width: 600px;
    display: flex;
    justify-content: flex-end;
}

.header_top_right>li {
    padding: 12px 7px 0 0;
    font-size: 12px;
}

.header_top_right>li>a {
    color: #333;
}

.mypage {
    position: relative;
}

.mypage_list {
    display: none;
    width: 120px;
    height: 130px;
    background-color: #fff;
    border: 1px solid #ef544d;
    position: absolute;
    top: 30px;
    right: -15px;
}

.mypage_list>li {
    padding: 5px 15px;
    margin-top: 3px;
}

.mypage_list>li:before {
    content: "·";
}

.mypage_list>li a {
    font-size: 12px;
    color: #333;
}

.mypage_list>li a:hover {
    color: #ef544d;
}

.language {
    position: relative;
}

.language_list {
    display: none;
    width: 100px;
    height: 90px;
    background-color: #fff;
    border: 1px solid #ef544d;
    position: absolute;
    top: 30px;
    right: -10px;
}

.language_list>li {
    padding: 5px 10px;
    margin-top: 5px;
}

.language_list>li:before {
    content: "·";
}

.language_list>li a {
    font-size: 12px;
    color: #333;
}

.language_list>li a:hover {
    color: #ef544d;
}

/*header_logo*/
#header_mid {
    width: 980px;
    height: 99px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

#header_mid>#logo {
    width: 192px;
    height: 28px;
}

#header_mid>#logo>img {
    width: 100%;
    height: 100%;
}

/*header_search*/
#header_search {
    width: 788px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.header_search_bar {
    width: 400px;
    border-bottom: 2.5px solid#ef544d;
    display: flex;
    justify-content: space-between;
}

.search_bar_text {
    width: 350px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}

.header_search_nav {
    width: 400px;
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

.header_search_nav>li>a {
    font-size: 11px;
    padding: 10px;
    color: #00adef;
}

.header_search_nav>img {
    padding-top: 5px;
    color: #00adef;
}

/*header_nav(header_bottom)*/
#header_bottom {
    width: 100%;
    height: 46px;
    background-color: #ef544d;
    border-top: 2px solid #222;
}

#nav {
    width: 980px;
    height: 44px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

/*all_category*/
.all_category {
    width: 152px;
    height: 44px;
    background-color: #c43730;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#all_click {
    padding: 10px;
}

#all_click a {
    color: #fff;
    font-size: 14px;
}

.all_category:hover {
    background-color: #850000;
    cursor: pointer;
}

.all_category:hover #all_click a {
    color: #fff1a2;
}

.category1 {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    width: 300px;
    height: 44px;
}

.category1 li {
    margin-top: 10px;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
}

.category1 li a {
    color: #fff;
}

.category2 {
    width: 500px;
    height: 44px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex-direction: row;
    font-size: 14px;
}

.category2 li {
    padding: 12px;
    width: 67px;
    height: 44px;
    color: #fff1a2;
    cursor: pointer;
}

.category2 li a {
    color: #fff1a2;
    text-decoration: none;
}

/* all category list */
#up1 {
    display: none;
}

.nav_slide {
    width: 980px;
    height: 685px;
    background-color: #fff;
    border-left: 2px solid #d74b45;
    border-right: 2px solid #d74b45;
    border-bottom: 2px solid #d74b45;
    position: absolute;
    left: 0;
    top: 44px;
    z-index: 3;
    display: none;
}

.nav_slide>ul {
    width: 100%;
    height: 95%;
    display: flex;
}

.nav_slide>ul>li {
    width: 264px;
    border-right: 1px solid #e5e5e5;
    padding: 30px;
    color: #666;
    font-size: 14px;
    font-weight: bold;
}

.nav_slide>span {
    position: absolute;
    right: 10px;
    top: 100;
}

.nav_slide>ul>li>span {
    width: 90px;
    font-weight: bold;
    color: #666;
    font-size: 14px;
}

.nav_slide>ul>li>span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.nav_slide>ul>li>ul {
    width: 200px;
    height: 150px;
    margin-top: 20px;
}

.nav_slide>ul>li>ul>li {
    width: 90%;
    display: flex;
    justify-content: space-between;
    line-height: 25px;
}

.nav_slide>ul>li>ul>li>span {
    font-size: 12px;
    font-weight: normal;
    width: 50%;
}

.nav_slide>span img:hover {
    cursor: pointer;
    text-decoration: underline;
}

.nav_slide>ul>li>ul>li>.scolor {
    color: #f15300;
}


/* footer */

#footer_wrap {
    width: 980px;
    height: 240px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#menu {
    width: 980px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu ul {
    width: 900px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu ul li a span {
    color: #000;
}

#menu ul li a span:hover {
    text-decoration: underline;
}

#menu ul li {
    font-size: 10px;
    color: #b8b8b8;
}

#menu ul li a {
    font-size: 10px;
    color: #b8b8b8;
}

#menu ul li a:hover {
    text-decoration: underline;
}


#info_1_wrap {
    width: 980px;
    height: 90px;
    display: flex;
    justify-content: space-between;
}

.info_1_box_left {
    width: 355px;
    height: 90px;
}

.info_1_box_mid {
    width: 255px;
    height: 90px;
}

.info_1_box_right {
    width: 355px;
    height: 90px;
}

.info_box {
    width: 355px;
    height: 90px;
}

.info_box_mid {
    width: 255px;
    height: 90px;
}

.info_title {
    line-height: 25px;
    font-size: 12px;
    color: #2a2a2a;
    font-weight: 100;
}

.info_a {
    font-size: 11px;
    display: block;
    line-height: 15px;
    color: #888;
    letter-spacing: -1px;
}


#info_2_wrap {
    width: 980px;
    height: 50px
}

.info2_title {
    font-size: 11px;
    color: #666;
    line-height: 30px;
    letter-spacing: -1px;
    font-weight: 100;
}

.info2_a {
    font-size: 11px;
    display: block;
    line-height: 15px;
    color: #888;
    letter-spacing: -1px;
}